.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.outerBox {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
}

.radio_outerBox {
  display: grid;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: max-content min-content;
}

.radio_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.innerBox {
  width: 100%;
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr max-content;
}

.form label {
  padding: 0;
  margin: 0;
  font-size: large;
  /* color: rgba(0, 0, 0, 0.829); */
  color: var(--secondary-text-color);
}

.form .radio {
  height: 2rem;
  width: 2rem;
  appearance: none;
  border-radius: 50%;
  outline: 1px solid var(--primary-bg-color);
  border: 2px solid var(--color-bg-light-secondary);
  box-sizing: border-box;
}

.form .radio:checked {
  background-color: var(--primary-bg-color);
}

.form input {
  display: grid;
  padding-left: 12px;
  align-items: center;
  margin: 0;
  color: var(--secondary-text-color);
  /* background-color: var(--primary-text-color); */
  outline: none;
  border: none;
  height: 2.5rem;
  font-size: large;
  font-weight: 400;
  border: solid 1px var(--secondary-text-color);
  font-variant: tabular-nums;
  font-feature-settings: "tnum", "tnum";
  border-radius: 2px;
  transition: border 0.3s, box-shadow 0.3s;
  width: 100%;
}

.units {
  padding: 0 12px;
  border: solid 1px var(--secondary-text-color);
  border-left: none;
  border-radius: 2px;
  height: 2.5rem;
  margin: 0;
  font-size: medium;
  display: grid;
  background-color: var(--neutral-bg-color);
  align-items: center;
}

.form input:hover {
  box-shadow: none;
  border: solid 1px var(--primary-bg-color);
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type="number"] {
  -moz-appearance: textfield;
}

.buttons {
  padding: 1rem 0;
  grid-area: buttons;
  display: grid;
  column-gap: 1rem;
  justify-content: start;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 1rem;
}

.buttons button {
  display: grid;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  min-width: 8rem;
  height: 2.5rem;
  font-size: large;
  font-weight: 500;
  border-radius: 2px;
  border: none;
  transition: 0.3s;
  background-color: var(--primary-bg-color);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-bg-color);
  transition: 0.3s;
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .form {
    padding: 2.5rem;
    border: 1px solid var(--primary-bg-color) !important;
  }
  .outerBox {
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .radio_outerBox {
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .radio_container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .buttons {
    padding: 0;
    grid-template-columns: max-content;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
