.section {
  background-color: var(--tertiary-bg-color);
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 54px 32px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.quoteWrapper {
  display: grid;
  align-items: start;
  justify-content: start;
  padding-top: 108px;
}

.innerSection {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.progressBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.486); */
  background-color: transparent;
  margin-bottom: 2rem;
  transition: background-color 3s ease-in-out;
}

.step {
  display: grid;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 100;
  border: 1px solid var(--primary-bg-color);
  background: #83838338;
  color: black;
  transition: background 0.3s ease-in-out;
}

.step.active {
  background: #103247;
  color: white;
  transition: background 0.3s ease-in-out;
}

/* tablet */
@media screen and (min-width: 600px) {
  .progressBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.486); */
    background-color: transparent;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
  }
}
