/* .btn_bg {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
} */

.quickQuoteBtnWrapper {
  position: fixed;
  right: 7.8rem;
  bottom: 7.8rem;
}

.quickQuoteBtnWrapper img {
  /* Dimensions handled by Next.js Image component */
  max-height: 10rem;
  max-width: 10rem;
}

.quickQuoteBtn {
  /* background-color: #a00943c7;
  border-radius: 8px 8px 0 0;
  right: 12px;
  bottom: 0;
  border: 0; */
  /* position: relative; */
  position: fixed;
  right: 6px;
  bottom: 40vh;
  height: 4rem;
  width: 4rem;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  outline: 0;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.quickQuoteBtn:before {
  top: 0;
  left: 0;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  opacity: 0.5;
  position: absolute;
  transition: all 0.3s;
}

.quickQuoteBtn:hover {
  transform: scale(1.05);
}

.phoneBtn {
  /* background-color: #a00943c7;
  border-radius: 8px 8px 0 0;
  right: 12px;
  bottom: 0;
  border: 0; */
  /* position: relative; */
  position: fixed;
  right: 6px;
  bottom: 52vh;
  height: 4rem;
  width: 4rem;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  outline: 0;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.icon {
  font-size: xx-large;
}
.phoneBtn:before {
  top: 0;
  left: 0;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  opacity: 0.5;
  position: absolute;
  transition: all 0.3s;
}

.phoneBtn:hover {
  color: var(--primary-text-color);
}
