.services {
  background-color: var(--secondary-bg-color);
  /* background-image: url("/assets/hero_bg.svg"); */
  background-size: contain;
  background-repeat: repeat;
  padding: 32px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.container h2 {
  color: var(--primary-text-color);
  padding-bottom: 4rem;
  font-size: xx-large;
}
.serviceWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 64px;
}

.wrapper img {
  width: 300px;
  height: 300px;
  padding-bottom: 12px;
}

.wrapper h3 {
  font-size: large;
  color: var(--primary-text-color);
}

.wrapper p {
  font-size: 16px;
  color: var(--primary-text-color);
  line-height: 32px;
}
/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .services {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .wrapper {
    display: flex;
    align-items: center;
    column-gap: 6rem;
  }
  .rowReverse {
    flex-direction: row-reverse;
  }
  .wrapper img {
    width: 420px;
    height: 420px;
    padding-bottom: 12px;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
