.slider {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, max-content);
  padding-bottom: 1rem;
}

.slider img {
  max-height: 120px !important;
  max-width: 72px !important;
}

.arrow {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--secondary-text-color);
  /* color: var(--primary-text-color); */
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.arrow:hover {
  transition: 0.3s;
  color: var(--primary-bg-color);
}
