@media screen and (max-width: 250px) {
  .slider {
    height: 250px;
    width: 150px;
  }
}

.slider {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, max-content);
  padding-bottom: 1rem;
}

.slider img {
  height: 250px;
  width: 150px;
}

.arrow {
  height: 2.5rem;
  width: 2.5rem;
  color: rgba(0, 0, 0, 0.466);
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.arrow:hover {
  transform: scale(0.9);
  transition: 0.3s;
}
