.slider {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: min-content min-content min-content;
}

@media screen and (max-width: 250px) {
  .slider {
    height: 250px;
    width: 150px;
  }
}

.slider button {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.slider button:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.arrow {
  height: 2.5rem;
  width: 2.5rem;
  color: rgba(0, 0, 0, 0.466);
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.indicator {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, min-content);
  column-gap: 0.5rem;
  justify-self: center;
  padding: 0.5rem 0;
}

.circle {
  height: 1rem;
  width: 1rem;
}

.circleIsSelected {
  height: 1rem;
  width: 1rem;
  background-color: #ef648a;
  border-radius: 50% 50%;
  border: solid 1px black;
  /* color: rgba(0, 0, 0, 0.829); */
}

.quoteLink {
  outline: none;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0.3rem;
  background-color: #dbe0e4d2;
  color: rgba(0, 0, 0, 0.849);
  font-weight: 900;
}
.quoteLink:hover {
  transform: scale(0.9);
  transition: 0.3s;
}
