/* utilities */
.products {
  background-color: var(--secondary-bg-color);
  /* background-image: url("/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.productsWrapper {
  margin-top: 6rem;
  display: grid;
  grid-gap: 2rem;
  height: 100%;
  width: 100%;
}

.wrapper {
  padding: 1rem;
  margin: 0;
  border-radius: 1px;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
  display: grid;
  grid-template-rows: repeat(4, min-content);
}

.quoteLink {
  width: fit-content;
  height: fit-content;
  align-items: center;
  display: grid;
  outline: none;
  border: 1px solid var(--primary-bg-color);
  border-radius: 2px;
  padding: 0.3rem !important;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color) !important;
  font-weight: 500;
  font-size: small;
  justify-self: center;
}

.quoteLink:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.wrapper h3 {
  font-size: medium;
  color: var(--primary-text-color);
  margin-top: 12px;
}
.wrapper p {
  color: var(--primary-text-color);
  font-size: medium;
}
.moreLink {
  font-size: medium;
  color: var(--primary-bg-color) !important;
  padding-left: 12px;
  font-weight: 600;
}

.moreLink:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

/* tablet device breakpoint: 768px*/
@media screen and (min-width: 768px) {
  .products {
    padding: 64px 32px;
  }
  .productsWrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}
/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
