/* utilities */
.products {
  background-color: var(--secondary-bg-color);
  /* background-image: url("/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.productsWrapper {
  margin-top: 6rem;
  text-align: center;
  display: grid;
  grid-gap: 2rem;
  height: 100%;
  width: 100%;
}

.wrapper {
  padding: 1rem;
  margin: 0;
  text-align: center;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.795);
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper h3 {
  font-size: medium;
  color: var(--primary-text-color);
}

/* tablet device breakpoint: 768px*/
@media screen and (min-width: 768px) {
  .products {
    padding: 64px 32px;
  }
  .productsWrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}
/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
