/* mobile device */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-bg-color);
  transition-property: background;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  padding: 8px 32px;
  z-index: 200;
}

.scrolled {
  background: #0b1122;
  border-bottom: 1px solid var(--primary-bg-color);
  border-top: 1px solid var(--primary-bg-color);
  transition-property: background;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.logo {
  height: 4rem;
  width: 6rem;
}

.hamburger {
  color: var(--primary-text-color);
}

.navLinks {
  display: none;
}

.navLinks a {
  color: var(--secondary-text-color);
}

.link,
.link a {
  color: var(--secondary-text-color);
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .logo {
    position: relative;
    left: -10px;
    height: 4rem;
    width: 8rem;
  }
  .hamburger {
    display: none;
  }
  .navLinks {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    column-gap: 22px;
  }
  .navLinks a {
    color: var(--primary-text-color);
  }
  .link,
  .link a {
    color: var(--primary-text-color);
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
  .logo {
    height: 4rem;
    width: 8rem;
  }
}
