.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  aspect-ratio: 16/9;
  /* transform: rotateY(180deg); */
  z-index: 1;
}

@media (max-width: 768px) {
  .heroImage {
    height: 100vh;
    aspect-ratio: 9/16;
  }
}

.overlayHeroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 28 58 / 0.8);
  z-index: 2;
  pointer-events: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
