.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust this value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  aspect-ratio: 16/9;
  transform: rotateY(180deg);
  z-index: 1; /* Ensure image stays below the overlay */
}
@media (max-width: 768px) {
  .heroImage {
    height: 100vh;
    aspect-ratio: 9/16;
  }
}
.overlayHeroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Match the width of the parent container */
  height: 100%; /* Match the height of the parent container */
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Simplified background for a semi-transparent black overlay */
  z-index: 2; /* Ensure overlay stays above the image */
  pointer-events: none; /* Prevent interaction issues */
  color: white; /* Set text color for visibility */
  display: flex; /* Center content within the overlay */
  justify-content: center;
  align-items: center;
}
