.hero {
  background-color: var(--secondary-bg-color);
  background-image: url("/assets/blur_bg.svg");
  background-image: url("/assets/hero_bg.svg");
  background-size: cover;
  background-position: left;
  background-repeat: repeat;
  padding: 16px 32px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.heroWrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  margin-top: 6rem;
}

.heroTitle {
  display: grid;
  align-items: start;
  justify-items: start;
  color: var(--primary-text-color);
}

.heroTitle h1 {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

.heroCta {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 16px;
  justify-content: start;
  align-items: center;
  margin-top: 24px;
}

.heroCta a {
  padding: 6px 4px;
  display: flex;
  font-weight: 600;
  font-size: small;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.heroCta a:hover {
  text-decoration: none;
  color: var(--primary-text-color);
}

.ctaQuoteBtn {
  color: var(--btn-text-color);
  background-color: var(--primary-bg-color);
  border: 2px solid var(--primary-bg-color);
  width: 8rem;
  padding: 1rem;
  height: 2.5rem;
  transition: 0.3s ease-in-out;
}

.ctaQuoteBtn:hover {
  background-color: #af6523;
  border: 2px solid #af6523;
  transform: scale(0.96);
}

.ctaPhoneBtn {
  color: var(--btn-text-color);
  background-color: var(--tertiary-bg-color);
  border: 2px solid var(--primary-bg-color);
  transition-property: background-color;
  transition-duration: 0.3s;
  display: flex;
  column-gap: 4px;
  height: 2.5rem;
  width: fit-content;
  padding: 1rem;
}

.ctaPhoneBtn a div {
  grid-template-columns: max-content;
}

.ctaPhoneBtn:hover {
  color: var(--btn-text-color);
  background-color: var(--primary-bg-color);
  transition: background-color;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.heroImage {
  display: grid;
  align-items: start;
  justify-content: start;
  padding: 16px 0;
  padding-top: 2.5rem;
  /* background: var(--primary-gradient-bg-color); */
}

.heroImage img {
  height: 300px;
  width: 300px;
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 24px;
    background-size: cover;
  }

  .heroImage img {
    height: 500px;
    width: 500px;
  }

  .heroWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
    margin-top: 6rem;
    align-items: center;
    justify-content: start;
  }
  .ctaQuoteBtn {
    font-size: medium !important;
  }
  .ctaPhoneBtn {
    font-size: medium !important;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
  .heroWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 720px;
    column-gap: 6rem;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    /* height: 720px; */
  }
  .heroImage {
    align-items: center;
    justify-content: end;
    padding: 0;
  }
  .heroTitle h1 {
    font-size: 2.5rem;
  }
}
