.form {
  margin-bottom: 1rem;
  display: grid;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  transition: 0.3s;
  grid-template-areas:
    "deliveryDate"
    "pickupDate"
    "street"
    "zip"
    "city"
    "state"
    "hint"
    "phone"
    "buttons";
}

.outerBox {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
}

.innerBox {
  width: 100%;
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr;
}

.form label {
  padding: 0;
  margin: 0;
  font-size: large;
  color: var(--secondary-text-color);
}

.form input,
.form select,
.form textarea {
  display: grid;
  align-items: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.829);
  /* background-color: var(--primary-text-color); */
  outline: none;
  border: none;
  height: 2.5rem;
  font-size: large;
  font-weight: 400;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type="number"] {
  -moz-appearance: textfield;
}

.form select {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: large;
}

.error {
  padding: 0;
  margin: 0;
  color: #ef648a;
}

.deliveryDate {
  grid-area: deliveryDate;
}

.pickupDate {
  grid-area: pickupDate;
}
.address {
  grid-area: address;
}
.street {
  grid-area: street;
}
.city {
  grid-area: city;
}

.state {
  grid-area: state;
}
.zip {
  grid-area: zip;
}
.phone {
  grid-area: phone;
}

.hint {
  grid-area: hint;
}
.onsite {
  grid-area: onsite;
}
.onsitePhone {
  grid-area: onsitePhone;
}
.street input,
.city input,
.state input,
.zip input,
.phone input,
.hint textarea,
.date {
  border: solid 1px rgba(0, 0, 0, 0.548);
  /* background-color: var(--primary-text-color); */
  width: 100%;
  font-variant: tabular-nums;
  font-feature-settings: "tnum", "tnum";
  border-radius: 2px;
  transition: border 0.3s, box-shadow 0.3s;
  width: 100%;
  padding-left: 12px;
}
.street input:hover,
.city input:hover,
.state input:hover,
.zip input:hover,
.phone input:hover,
.hint textarea:hover,
.date:hover {
  box-shadow: none;
  border: solid 1px rgb(39, 126, 255);
}

.buttons {
  padding: 1rem 0;
  grid-area: buttons;
  display: grid;
  column-gap: 2rem;
  justify-content: start;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.buttons button {
  display: grid;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  height: 2.5rem;
  font-size: large;
  font-weight: 500;
  border-radius: 2px;
  transition: 0.3s;
  border: 2px solid var(--primary-bg-color);
}

.next {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  transition: 0.3s;
}
.next:hover {
  background-color: #9b581e;
  border-color: #9b581e;
  transition: 0.3s;
}

.previous {
  color: var(--secondary-text-color);
  background-color: var(--tertiary-bg-color);
  transition: 0.3s;
}
.previous:hover {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: 0.3s;
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .form {
    padding: 2.5rem;
    border: 1px solid var(--primary-bg-color) !important;
  }
  .outerBox {
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .buttons {
    padding: 0;
    grid-template-columns: repeat(2, max-content);
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
