.indicator {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, min-content);
  column-gap: 1.5rem;
  justify-self: center;
  padding-bottom: 1rem;
}

.circle {
  height: 1rem;
  width: 1rem;
  border: solid 1px black;
  background-color: transparent;
  border-radius: 50%;
}

.active {
  background-color: #ef648a;
}

.inactive {
  background-color: transparent;
}
