/* mobile device */
.navbar {
  /* background-color: var(--tertiary-bg-color); */
  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  width: 100%;

  transition-property: background;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  padding: 6px 32px 0;
  z-index: 200;
}

.navbar_home {
  background-color: var(--tertiary-bg-color);
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  width: 100%;

  transition-property: background;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  padding: 8px 32px;
  z-index: 200;
}

.scrolled {
  background-color: rgba(2, 31, 48, 0.932);
  /* border-bottom: 1px solid var(--primary-bg-color);
  border-top: 1px solid var(--primary-bg-color); */
  transition-property: background;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.logo {
  height: 3rem;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(0.96);
}

.hamburger {
  color: var(--primary-text-color);
}

.navLinks {
  display: none;
}

.navLinks a {
  color: var(--btn-text-color);
  font-size: large;
  font-weight: 400;
  transition: 0.3s;
}
.navLinks a:hover {
  color: var(--primary-bg-color);
  transition: 0.3s;
}

.activeLink,
.activeLink a {
  color: var(--primary-bg-color) !important;
  font-weight: 400;
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .logo {
    /* position: relative; */
    /* left: -10px; */
  }
  .hamburger {
    display: none;
  }
  .navLinks {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
    column-gap: 22px;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
  .logo {
    height: 3rem;
    width: fit-content;
  }
}
