.section {
  background-color: var(--secondary-bg-color);
  /* background-image: url("/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 54px 32px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.quoteWrapper {
  display: grid;
  align-items: start;
  justify-content: start;
  padding-top: 108px;
}

.innerSection {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.progressBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.486); */
  background-color: transparent;
  margin-bottom: 2rem;
}

.progressBar div {
  font-weight: 700;
  color: var(--primary-text-color);
}

.step {
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: 1px solid #ef648a;
  border-radius: 0 50px 50px 0;
  background-color: #83838338;
  transition: 0.5s;
}

.step.active {
  background-color: var(--neutral-bg-color);
  color: var(--secondary-text-color);
  transition: 0.5s;
}

/* tablet */
@media screen and (min-width: 600px) {
  .progressBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.486); */
    background-color: transparent;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
  }
  .progressBar div {
    font-weight: 500;
    font-size: large;
  }
}
