.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.quickQuoteform {
  background-color: rgba(165, 163, 163, 0.808);
  position: relative;
  /* position: fixed; */
  /* top: 6rem; */
  /* right: 6rem; */
  bottom: -6rem;
  margin: 0 auto;
  z-index: 300;
  border: 1px solid rgba(255, 255, 255, 0.308);
  padding: 4px;
  height: fit-content;
  width: 280px;
}

.closeIcon {
  position: absolute;
  opacity: 0.8;
  color: black;
  font-size: 2.5rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.quickQuoteform h2 {
  text-align: left;
  color: white;
  font-weight: 600;
}

.quickQuoteform .radio {
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}

.quickQuoteform .radio:checked {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.quickQuoteform .radio:hover {
  border: 1px solid var(--primary-bg-color);
}

.quickQuoteform input:checked {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-bg-color) !important;
}

.quickQuoteform input,
.quickQuoteform textarea {
  width: 100%;
  margin: 0 !important;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 12px;
  font-size: 14px;
  color: black;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.quickQuoteform textarea {
  height: 4rem;
}
.quickQuoteform input:hover,
.quickQuoteform textarea:hover {
  border: none;
}
.quickQuoteform input:focus,
.quickQuoteform textarea:focus {
  border: none;
}

.quickQuoteform input::placeholder,
.quickQuoteform textarea::placeholder {
  color: var(--primary-bg-color);
  font-weight: 600;
}
.quickQuoteform input:focus::placeholder,
.quickQuoteform textarea:focus::placeholder {
  color: rgb(19, 113, 255, 0.5);
  font-weight: 600;
}

.error_field {
  border: 1px solid red !important;
}

.date {
  width: 100%;
}

.date input {
  transition: 0.3s;
  width: 100%;
  border: none;
  padding-left: 0;
  font-size: 14px;
  border-radius: 0;
  color: black !important;
}
.date input:hover {
  border: none;
}
.date input:focus {
  border: none;
}
.date input::placeholder {
  color: var(--primary-bg-color) !important;
  font-weight: 600;
}

.date input:focus::placeholder {
  color: rgb(19, 113, 255, 0.5) !important;
  font-weight: 600;
}

.error:before {
  content: "⚠️";
  margin-right: 0.5rem;
}

.error {
  padding: 0 12px;
  margin: 0;
  background-color: color(a98-rgb 0 0 0 / 0.39);
  font-size: small; /* Smaller text size */
  margin-top: 0.25rem; /* Space between input and message */
  font-weight: 200; /* Emphasized text */
  color: var(--primary-error-color);
  border-radius: 0 50px 100px 50px;
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .quickQuoteform {
    position: fixed;
    bottom: 6rem;
    right: 7rem;
  }

  .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}

.quickQuoteform .ant-picker {
  border-radius: 0 !important;
}

.quickQuoteform .ant-picker-outlined:focus-within {
  border: 1px solid var(--primary-text-color) !important;
}

.quickQuoteform .ant-picker-outlined:hover {
  border: 1px solid red;
}

.quickQuoteform .ant-picker-panel-container {
  border-radius: 0 !important;
}

.quickQuoteform .ant-select-multiple .ant-select-selector {
  border-radius: 0 !important;
}
