.footer {
  background-color: var(--tertiary-bg-color);
  padding: 32px;
  border-top: 1px solid var(--primary-bg-color);
  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg");
  background-size: cover;
  background-position: left;
  background-repeat: repeat;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  column-gap: 1rem;
  row-gap: 2.5rem;
  justify-content: space-between;
  grid-template-areas:
    "logo"
    "contact"
    "nav"
    "social";
}

.ul h2 {
  color: var(--primary-text-color);
  font-size: medium;
  font-weight: 400;
  margin: 0 0 1rem;
}

.ul li a {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.712);
  font-size: 1rem !important;
}
/* logo */
.footerLogo {
  padding: 0;
  margin: 0;
  grid-area: logo;
  display: grid;
  justify-content: left;
  align-items: start;
}

.footerLogo img {
  padding: 0;
  margin: 0;
  height: 5rem;
  width: 8rem;
}

/* social */
.social {
  padding: 0;
  grid-area: social;
  display: grid;
  justify-content: left;
  align-items: start;
  color: var(--primary-text-color);
}

.social ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content;
  row-gap: 0.5rem;
}
.social ul li a:hover {
  color: var(--primary-text-color);
  transition: 0.3s;
}
/* nav */
.nav {
  padding: 0;
  margin: 0;
  grid-area: nav;
  display: grid;
  justify-content: left;
  align-items: start;
  color: var(--primary-text-color);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content;
  row-gap: 0.5rem;
}

.nav ul li a:hover {
  color: var(--primary-text-color);
  transition: 0.3s;
}

/* contact */
.contact {
  padding: 0;
  margin: 0;
  grid-area: contact;
  display: grid;
  justify-content: left;
  align-items: start;
  color: var(--primary-text-color);
}

.contact ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: max-content;
  row-gap: 0.5rem;
}

.contact ul li a {
  color: rgb(204, 204, 204);
}

.contact ul li a:hover {
  color: var(--primary-text-color);
  transition: 0.3s;
}

.bottomFooter {
  padding: 12px 0;
  font-size: small;
  color: var(--primary-text-color);
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .ul {
    grid-template-areas: "logo social nav contact";
  }
  .ul h2 {
    font-size: large;
  }
  .ul li {
    font-size: medium;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
