.disclaimer {
  background-color: var(--secondary-bg-color);
  /* background-image: url("/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 54px 32px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.disclaimerWrapper {
  padding-top: 108px;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
.container p,
.container li {
  color: var(--primary-text-color);
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.container ul {
  padding-left: 36px;
}
