/* utilities */
.section {
  background-color: var(--tertiary-bg-color);
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.wrapper {
  padding: 6rem 0;
}
.wrapper h1 {
  margin-bottom: 2rem;
}
.wrapper h2 {
  font-size: large;
}
.wrapper h3 {
  color: lab(7.18 2.34 -6.15);
  font-size: small;
}
.blogWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.blogItem {
  display: grid;
  padding: 24px 0 24px 12px;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  text-decoration: none;
}

.blogItem:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.textContainer {
  display: grid;
  row-gap: 12px;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .blogWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .blogWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
