/* utilities */
.blog {
  background-color: var(--tertiary-bg-color);
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.wrapper {
  margin-top: 6rem;
  display: grid;
  grid-gap: 2rem;
  height: 100%;
  width: 100%;
}

.wrapper a {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  justify-content: start;
  border: 1px solid var(--primary-bg-color);
  padding: 12px;
  border-radius: 4px;
}

.wrapper h1 {
  color: var(--secondary-text-color);
}
.wrapper h2 {
  color: var(--secondary-text-color);
}
.wrapper h3 {
  color: var(--secondary-text-color);
}
.wrapper img {
  max-width: 400px;
  height: 100%;
  padding-bottom: 2.5rem;
}
.wrapper p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* tablet device breakpoint: 768px*/
@media screen and (min-width: 768px) {
  .blog {
    padding: 64px 32px;
  }
  .wrapper a {
    grid-template-columns: 1fr;
    justify-content: start;
    column-gap: 12px;
  }
  .wrapper img {
    max-width: 400px;
    height: 100%;
  }
}
/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
