.testimonials {
  padding: 16px 32px;
  background-image: linear-gradient(
      rgba(12 81 131 / 0.8),
      rgba(12 81 131 / 0.8)
    ),
    url("https://cdn.flushjohn.com/assets/home/hero/hero-img-1.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container h2 {
  color: var(--secondary-text-color);
  padding-bottom: 4rem;
  font-size: x-large;
}

.testimonialsWrapper {
  display: grid;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
  background-color: var(--primary-bg-color);
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 16rem;
}

.wrapper h3 {
  font-size: large;
  color: var(--secondary-text-color);
  padding-bottom: 16px;
}

.wrapper p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .testimonialsWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    justify-content: space-between;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
