.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0 0 0 / 0.86); */
  background-color: lab(35.32 12.12 42.27 / 0.87);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.quickQuoteform {
  background-color: rgba(165, 163, 163, 0.808);
  position: relative;
  /* position: fixed; */
  /* top: 6rem; */
  /* right: 6rem; */
  bottom: -6rem;
  margin: 0 auto;
  z-index: 300;
  border: 1px solid rgba(255, 255, 255, 0.308);
  padding: 4px;
  height: fit-content;
  width: 280px;
}

.closeIcon {
  position: absolute;
  opacity: 0.8;
  color: black;
  font-size: 2.5rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.quickQuoteform h2 {
  text-align: left;
  color: white;
  font-weight: 600;
}

.quickQuoteform .radio {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}

.quickQuoteform .radio:checked {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}
.quickQuoteform .radio:hover {
  border: 1px solid var(--primary-bg-color);
}

.quickQuoteform input:checked {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--primary-bg-color) !important;
}

.quickQuoteform input,
.quickQuoteform textarea {
  width: 100%;
  margin: 0 !important;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 12px;
  font-size: 14px;
  color: black;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.quickQuoteform textarea {
  height: 4rem;
}
.quickQuoteform input:hover,
.quickQuoteform textarea:hover {
  border: none;
}
.quickQuoteform input:focus,
.quickQuoteform textarea:focus {
  border: none;
}

.quickQuoteform input::placeholder,
.quickQuoteform textarea::placeholder {
  color: var(--primary-bg-color);
  font-weight: 600;
}
.quickQuoteform input:focus::placeholder,
.quickQuoteform textarea:focus::placeholder {
  color: rgb(19, 113, 255, 0.5);
  font-weight: 600;
}

.error_field {
  border: 1px solid red !important;
}

.date {
  width: 100%;
}

.date input {
  transition: 0.3s;
  width: 100%;
  border: none;
  padding-left: 0;
  font-size: 14px;
  border-radius: 0;
  color: black !important;
}
.date input:hover {
  border: none;
}
.date input:focus {
  border: none;
}
.date input::placeholder {
  color: var(--primary-bg-color) !important;
  font-weight: 600;
}

.date input:focus::placeholder {
  color: rgb(19, 113, 255, 0.5) !important;
  font-weight: 600;
}

.error:before {
  content: "⚠️";
  margin-right: 0.5rem;
}

.error {
  padding: 0 12px;
  margin: 0;
  background-color: color(a98-rgb 0 0 0 / 0.39);
  font-size: small; /* Smaller text size */
  margin-top: 0.25rem; /* Space between input and message */
  font-weight: 200; /* Emphasized text */
  color: var(--primary-error-color);
  border-radius: 0 50px 100px 50px;
}

/* Globals overwrite */
.quickQuoteform .ant-picker {
  border-radius: 0 !important;
}

.quickQuoteform .ant-picker-outlined:focus-within {
  border: 1px solid var(--primary-text-color) !important;
}

.quickQuoteform .ant-picker-outlined:hover {
  border: 1px solid red;
}

.quickQuoteform .ant-picker-panel-container {
  border-radius: 0 !important;
}

.quickQuoteform .ant-select-multiple .ant-select-selector {
  border-radius: 0 !important;
}

.PhoneInputCountrySelectArrow {
  display: none !important;
}

.PhoneInputCountry {
  background-color: var(--primary-text-color) !important;
  padding: 4px 6px !important;
  cursor: default;
  pointer-events: none;
}

:where(.css-dev-only-do-not-override-240cud).ant-picker {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-240cud).ant-select-multiple
  .ant-select-selector {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-240cud).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-enabled) {
  font-weight: 600;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

:where(.css-dev-only-do-not-override-240cud).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-enabled)
  svg {
  color: var(--primary-text-color);
  font-weight: 600;
}
