.locations {
  display: flex;
  /* background-color: var(--tertiary-bg-color); */
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  /* background-color: #d9dce1; */
  background-size: cover;
  background-position: left;
  background-repeat: repeat;
  padding: 32px 0 16px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container h2 {
  color: var(--primary-text-color);
  padding-bottom: 1rem;
  font-size: medium;
}

.container p {
  line-height: 2rem;
  font-weight: 100;
  /* padding: 4px 0; */
  font-size: 12px;
  color: var(--primary-text-color);
}
/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .locations {
    padding: 0 0 16px 0;
  }
}
/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
