.section{
  padding: 0;
  margin: 0;
  min-width: 100%;
  background-color: #2a4358;
}

.container{
  max-width: 1100px;
  padding: 32px;
  margin: 0 auto;
  background-color: #2a4358;
}

.label{
  padding: 0;
  margin: 0;
  color: white;
  font-size: large;
  font-weight: 200;
}

.form input {
  padding: 0;
  margin: 0;
  color: white;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px white;
  background-color: #2a4358;
  outline: none;
  height: 2rem;
  font-size: large;
  font-weight: 300;
}
.form input:-webkit-autofill,
.form input:-webkit-autofill:hover, 
.form input:-webkit-autofill:focus, 
.form input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #2a4358 inset !important;
  -webkit-text-fill-color: white !important;
}

.form input:focus{
  padding: 0;
  margin: 0;
  color: white;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px white;
  background-color: #2a4358;
  outline: none;
  height: 2rem;
  font-size: large;
  font-weight: 300;
}

.textarea {
  padding: 0;
  margin: 0;
  color: white;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px white;
  background-color: #2a4358;
  outline: none;
  height: 100px;
  padding-top: .5rem;
  font-size: large;
  font-weight: 300;
}

.textarea:focus{
  padding: 0;
  margin: 0;
  color: white;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px white;
  background-color: #2a4358;
  outline: none;
  height: 100px;
  padding-top: .5rem;
  font-size: large;
  font-weight: 300;
}

.error{
  padding: 0;
  margin: 0;
  color: yellow;
  font-size: small;
}

.form{
  padding: 0;
  margin: 0;
  background-color: #2a4358;
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "fName" 
    "lName"
    "email"
    "phone" 
    "message"
    "button";
}

.form div{
  display: grid;
  grid-template-columns: 1fr;
}

.firstName{
  grid-area: fName;

}

.lastName{
  grid-area: lName;
}

.email{
  grid-area: email;
}

.phone{
  grid-area: phone;
}

.message{
  grid-area: message;
}

.button{
  grid-area: button;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.808);
  font-size: large;
  font-weight: 500;
  border: solid 1px rgba(255, 255, 255, 0.808);
  border-radius: 2px;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.603);
  transition: .3s;
}


@media screen and (min-width:769px) {
  .form{
    padding: 64px 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: 
    "fName message" 
    "lName message"
    "email message"
    "phone message" 
    ". button";
  }

  .message .label, .message .error{
    padding-left: 1rem;
  }

  .message{
    border-left: 1px solid rgba(255, 255, 255, 0.507);
    padding: 0;
    margin: 0;
  }
  .textarea{
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0;
    height: 350px;
    border-bottom: none;
  }

  .textarea:focus{
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0;
    height: 350px;
    border-bottom: none;
  }
}