.sectionTop{
    min-width: 100%;
    background-color: #143A58;
  }

.sectionBottom{
  min-width: 100%;
  background-color:#002B4C;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}


.ul{
  padding: 32px 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-gap: 1rem;
  justify-content: space-between;
  grid-template-areas:
      "logo nav "
      "contact social";
}

.ul h2{
  font-size: medium;
  padding:0;
  margin: 0;
}

.ul li{
  font-size: small;
}
  
/* logo */
  .footerLogo{
    padding: 0;
    margin: 0;
    grid-area: logo;
    display: grid;
    justify-content: left;
    align-items: start;
  }

  .footerLogo img{
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 8rem
  }

  /* social */
  .social{
    padding: 0;
    grid-area: social;
    display: grid;
    justify-content: left;
    align-items: start;
    color: white;
  }

  .social ul{
    padding:0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5rem;
  }

  .social ul div{
    padding:0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: left;
    align-items: center;
    color: rgb(204, 204, 204);
  }

  .social ul div:hover{
    color: white;
  }

/* nav */
  .nav{
    padding:0;
    margin: 0;
    grid-area: nav;
    display: grid;
    justify-content: left;
    align-items: start;
    color: white;
  }

  .nav ul{
    list-style: none;
    padding:0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5rem;
  }

  .nav ul li a{
    color: rgb(204, 204, 204);
  }

  .nav ul li a:hover{
    color: white;
  }

  /* contact */
  .contact{
    padding: 0;
    margin: 0;
    grid-area: contact;
    display: grid;
    justify-content: left;
    align-items: start;
    color: white;
  }

  .contact ul{
    list-style: none;
    padding:0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5rem;
  }

  .contact ul li a{
    color: rgb(204, 204, 204);
  }

  .contact ul li a:hover{
    color: white;
  }

  .sectionBottom{
    min-width: 100%;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:0;
    margin: 0;
  }
  .sectionBottom .container{
    padding:0;
    margin: 0;
  }
  
  .sectionBottom .container p{
    padding: 1rem;
    margin: 0;
    font-size: small;
}

/* tablet and desktop */

@media screen and (min-width: 769px) {
  .ul{
    grid-template-areas:
    "logo social nav contact";
  }
  .ul h2{
    font-size: large;
  }
  .ul li{
    font-size: medium;
  }

}