@font-face {
  font-family: "Poppins";
  src: url("https://cdn.flushjohn.com/fonts/poppins/Poppins-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("https://cdn.flushjohn.com/fonts/merriweather/Merriweather-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* --primary-color: #6e8b3d;
    --primary-bg-color: #ef648a; */
  /* --primary-bg-color: #db517a; */
  --primary-bg-color: #cf772b;
  --primary-text-color: rgba(255, 255, 255, 0.78);
  --primary-error-color: red;
  /* --secondary-bg-color: #04061bd3; */
  /* --secondary-bg-color: #04061be8; */
  /* --secondary-bg-color: #000000f6; */
  /* --secondary-bg-color: #292903; */
  /* --secondary-bg-color: #0e2903; */
  /* --secondary-bg-color: #03291a; */
  /* --secondary-bg-color: #041b25; */
  /* --secondary-color: #d3d3d3; */
  --secondary-bg-color: #021920f3;
  --secondary-text-color: #0000009d;
  --tertiary-bg-color: transparent;
  --neutral-bg-color: #cccccc;
  /* --neutral-color: #ffffff; */
  --btn-text-color: white;
  --font-poppins: "Poppins", sans-serif;
  --font-merriweather: "Merriweather", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins); /* Primary font */
  line-height: 1.6;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-repeat: repeat;
}
h1,
h2,
h3 {
  font-family: var(--font-merriweather); /* Use Merriweather for headings */
  line-height: 1.3;
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Oswald", sans-serif; */
}
button {
  text-transform: uppercase !important;
  /* color: var(--btn-text-color) !important;
  background-color: var(--primary-bg-color) !important; */
}
/* width */
width ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff48;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d47ec;
  /* background: #ef648a; */
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d47ec;
  transition: 0.3s;
}

/* breakpoints */

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}

/* Target the entire page */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 12px;
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  background: var(--primary-bg-color); /* Set the color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c561c; /* Set the color of the scroll thumb when hovered */
}

.quickQuoteform .ant-picker {
  border-radius: 0 !important;
}

.quickQuoteform .ant-picker-outlined:focus-within {
  border: 1px solid var(--primary-text-color) !important;
}

.quickQuoteform .ant-picker-outlined:hover {
  border: 1px solid red;
}

.quickQuoteform .ant-picker-panel-container {
  border-radius: 0 !important;
}

.quickQuoteform .ant-select-multiple .ant-select-selector {
  border-radius: 0 !important;
}
