@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  /* --primary-color: #6e8b3d;
  --secondary-color: #d3d3d3;
  --neutral-color: #ffffff; */
  --primary-bg-color: #ffa500;
  --secondary-bg-color: #1e2d56;
  --primary-gradient-bg-color: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 255, 0, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  --secondary-gradient-bg-color: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  --tertiary-bg-color: transparent;
  --neutral-bg-color: #cccccc;
  --primary-text-color: #ffffff;
  --secondary-text-color: #07080c;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* width */
width ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff48;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d47ec;
  /* background: #ef648a; */
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d47ec;
  transition: 0.3s;
}

/* breakpoints */

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
