.section {
  padding: 0;
  margin: 0;
  min-width: 100%;
  background-color: #cbd0d4;
  /* background: url(/assets/header.png) repeat; */
}
.container {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1100px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}
.container img {
  padding: 0;
  height: 4rem;
  padding: 0;
}

.container img:hover {
  transition: 0.3s;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 0.5rem;
  justify-content: end;
  align-items: center;
  padding: 0.5rem 0;
  margin: 0;
}

.icon {
  height: 2rem;
  width: 2rem;
  background-color: white;
}

.icon:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

.fb {
  color: #4867aa;
}

.twitter {
  color: #5da9de;
}

.instagram {
  color: #c33a86;
}

.linkedin {
  color: #0377b5;
}

.pinterest {
  color: #e11a20;
}

@media screen and (max-width: 768px) {
  .container img {
    padding: 0;
    margin: 0.3rem;
    height: 4rem;
    width: 8rem;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
