.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: white;
}

.active {
  transform: translateX(60%);
  transition: 0.5s;
}

.inactive {
  transition: 0.5s;
}
