.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: white;
  overflow-x: hidden;
}

.active{
  transform: translateX(60%);
  transition: .5s;
}

.inactive{
  transition: .5s;
} 