.section {
  width: 100%;
  padding: 0;
  background-color: rgb(4, 10, 29);
  /* border-bottom: 1px solid rgb(41, 38, 80); */
  position: sticky;
  top: -1px;
  z-index: 2;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px 0 32px;
}

.nav {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px 0;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px 0 32px;
  }

  .nav {
    border-top: 1px solid rgba(255, 255, 255, 0.363);
    border-bottom: 1px solid #ed638879;
    grid-template-columns: repeat(4, max-content);
    justify-content: end;
    padding: 0.5rem 0;
    margin: 0;
  }
  .hamburger {
    display: none;
  }
}

.phoneMobile div {
  color: white;
  border-radius: 1px;
  padding: 0;
  margin: 0;
  font-size: x-large;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, max-content);
  column-gap: 0.2rem;
  height: 100%;
}

.menuIcon {
  color: rgba(255, 255, 255, 0.829);
  height: 2rem;
  width: 2rem;
  justify-self: left;
}

.nav img {
  display: none;
  padding: 0;
  margin: 0.5rem 0;
  height: 3.2rem;
  width: 5rem;
  justify-self: center;
}

.navMenu {
  display: none;
}
.navMenu li {
  font-weight: 200;
  padding: 0;
  margin: 0;
}
.navMenu li a {
  font-weight: 200;
  padding: 0;
  margin: 0;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) {
  .phoneMobile {
    display: none;
  }
  .menuIcon {
    display: none;
  }

  .nav img {
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 5rem;
  }

  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav ul li a {
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    border-radius: 1px;
    transition: 0.3s;
    font-size: large;
  }
  .nav ul li a:hover {
    color: #ef648a;
    transition: 0.3s;
  }

  .phone:hover {
    transition: 0.3s;
    color: #ef648a;
  }

  .phone a div {
    color: white;
    padding: 0;
    padding-left: 12px;
    margin: 0;
    font-weight: 200;
    display: grid;
    align-items: center;
    justify-content: end;
    grid-template-columns: repeat(2, max-content);
    column-gap: 0.2rem;
    transition: 0.3s;
    font-size: x-large;
    border-left: 1px solid #ef648a;
  }

  .phone div h1 {
    color: white;
    text-align: right;
    padding: 0;
    padding-right: 12px;
    font-size: large;
    margin: 0;
  }
  .phone div div {
    color: white;
    border-radius: 1px;
    padding: 0;
    margin: 0;
    font-weight: 200;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: 0.2rem;
    transition: 0.3s;
    font-size: x-large;
    border: none;
  }
  .phone div div:hover {
    color: #ef648a;
    transition: 0.3s;
  }
}
