.section{
  min-width: 100%;
  background-color:#001a2e;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.425);
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}

.nav{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.menuIcon{
  color: white;
  height: 2rem;
  width: 2rem;
  justify-self: left;
}

.nav img{
  padding: 0;
  margin: .5rem 0;
  height: 3.2rem;
  justify-self: center;
}

.navMenu{
  display: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) {
  .section{
    border-bottom: none;
  }
  .nav{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .menuIcon{
    display: none;
  }

  .nav img{
    padding: 0;
    margin: 0;
    height: 5rem;
    width: auto
  }

  .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content) ;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .nav ul li a:hover{
    color: yellow;
    transition: .3s;
  }

  .quote h3{
    color: white;
    border: solid 1px rgb(49, 98, 170);
    border-radius: 4px;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: medium;
  }

  .quote h3:hover{
    color: white;
    background-color: rgb(49, 98, 170);
    transition: .3s;
  }

  .phone div{
    background-color: rgb(49, 98, 170);
    color: white;
    border: solid 1px rgb(49, 98, 170);
    border-radius: 4px;
    padding: 1rem;
    font-weight: 500;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: .5rem;
  }

  .phone div:hover{
    background-color: rgb(23, 82, 170);
    transition: .3s;
  }
}

