.section{
  min-width: 100%;
  padding: 0;
  background-color: white;
  /* background: url(/assets/texture.png) repeat; */
  border-top: 1px solid rgba(0, 0, 0, 0.685);
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}

.nav{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.menuIcon{
  color: black;
  height: 2rem;
  width: 2rem;
  justify-self: left;
}

.nav img{
  display: none;
  padding: 0;
  margin: .5rem 0;
  height: 3.2rem;
  width: 5rem;
  justify-self: center;
}

.navMenu{
  display: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 769px) {
  .section{
    border-bottom: 1px solid white;
  }

  .nav{
    display: grid;
    grid-template-columns: max-content;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .menuIcon{
    display: none;
  }

  .nav img{
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 5rem
  }

  .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content) ;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: black;
  }

  .nav ul li:hover{
    transform: scale(.9);
    transition: .3s;
  }

  .phone div{
    color: black;
    border-radius: 4px;
    padding: 1rem 0;
    font-weight: 500;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: .5rem;
  }
  
  .phone div:hover{
    transform: scale(.9);
    transition: .3s;
  }
}

