.form {
  background-color: #ef6489ab;
  box-shadow: rgba(0, 0, 0, 0.35);
  padding: 1rem;
  max-width: 20rem;
  position: absolute;
  top: 3.5rem;
  right: 0;
}

.form h2 {
  text-align: left;
  font-size: large;
  color: white;
}

/* mobile  */
@media only screen and (max-width: 600px) {
  .form {
    position: fixed;
    right: 0;
    top: 2rem;
    background-color: #ef6489ef;
    z-index: 3;
    transition: 0.3s;
  }
}

/* desktop */
@media screen and (min-width: 769px) {
  .form {
    width: 300px;
  }
}
