.form{
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: 
                "deliveryDate"
                "pickupDate"
                "street" 
                "city"
                "state"
                "zip"
                "hint"
                "onsite"
                "onsitePhone"
                "buttons";
  }

.outerBox{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
}

.form label{
  padding: 0;
  margin: 0;
  color: white;
  font-size: large;
  font-weight: 200;
}

.form input, .form select, .form textarea{
  padding: 0;
  margin: 0;
  color: white;
  background-color: #2a4358;
  outline: none;
  border:none;
  border-bottom: solid 2px white;
  height: 2rem;
  font-size: large;
  font-weight: 400;
  width:100%;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover, 
.form input:-webkit-autofill:focus, 
.form input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #2a4358 inset !important;
  -webkit-text-fill-color: white !important;
}

.form input:focus{
  padding: 0;
  margin: 0;
  color: white;
  border: none;
  outline: none;
  border-bottom: solid 2px white;
  background-color: #2a4358;
  height: 2rem;
  font-size: large;
  font-weight: 400;
}

.form input::-webkit-outer-spin-button, .form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  -moz-appearance: textfield;
}
.form textarea{
  height: 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.267);
}
.form textarea:focus{
  height: 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.267);
}

.form textarea:-webkit-autofill,
.form textarea:-webkit-autofill:hover, 
.form textarea:-webkit-autofill:focus, 
.form textarea:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #2a4358 inset !important;
  -webkit-text-fill-color: white !important;
}

.form select{
  width: 100%;
  font-size: large;
}

.error{
  padding: 0;
  margin: 0;
  color: yellow;
}

.date{
  background-image: url(/assets/calendar.svg);
  background-position: center right;
  background-size: 1.5rem;
  background-repeat: no-repeat;
}

.deliveryDate{
  grid-area: deliveryDate;
}

.pickupDate{
  grid-area: pickupDate;
}
.street{
  grid-area: street;
}
.city{
  grid-area: city;
}

.state{
  grid-area: state;
}
.zip{
  grid-area: zip;
}

.hint{
  grid-area: hint;
}
.onsite{
  grid-area: onsite;
}
.onsitePhone{
  grid-area: onsitePhone;
}

.buttons{
  grid-area: buttons;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.buttons button{
  display: grid;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.808);
  font-size: large;
  font-weight: 500;
  border: solid 1px rgba(255, 255, 255, 0.808);
  border-radius: 2px;

}
.buttons button:hover{
  background-color: rgba(255, 255, 255, 0.603);
  transition: .3s;
}

.processing{
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: max-content max-content;
  column-gap: .2rem;
}

.processing h3{
  padding: 0;
  margin: 0;
  font-size: smaller;
  font-weight: 900;
}
@keyframes spinner {
  from {transform:rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner{
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: spinner .9s linear infinite;
}

/* desktop */
@media screen and (min-width: 769px) {
  .form{
    grid-template-columns: 2fr .5fr;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 2rem;
  }
  .form .outerBox{
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .form button{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 12rem;
    padding: 0 2rem;
  }
}