.section {
  min-width: 100%;
  /* background-color: #4b677e; */
}

.container {
  max-width: 1100px;
  padding: 64px 32px;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  .container {
    padding: 32px;
  }
}
.innerSection {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.progressBar {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.486);
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .progressBar {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.486);
    margin-bottom: 2.5rem;
  }
}
.progressBar div {
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  .progressBar div {
    font-weight: 500;
    font-size: large;
  }
}
.step {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-weight: 400;
  border: 1px solid #ef648a;
  border-radius: 0 50px 50px 0;
  background-color: #83838338;
  transition: 0.5s;
}

.step.active {
  background-color: #ef648a;
  transition: 0.5s;
}
