.form{
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: 
              "fName"
              "lName"
              "cName" 
              "email"
              "phone"
              "buttons";
}

.outerBox{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  row-gap: .5rem;
}

.innerBox{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr;
}

.form label{
  padding: 0;
  margin: 0;
  color: white;
  font-size: large;
  font-weight: 300;
}

.form input {
  padding: 0;
  padding-left: .5rem;
  margin: 0;
  color: black;
  background-color: white;
  outline: none;
  border:none;
  border-bottom: solid 2px white;
  height: 2rem;
  font-size: large;
  font-weight: 400;
}

.form input::-webkit-outer-spin-button, .form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  -moz-appearance: textfield;
}

.error{
  padding: 0;
  margin: 0;
  color: yellow;
}
.fName{
  grid-area: fName;
}

.lName{
  grid-area: lName;
}
.cName{
  grid-area: cName;
}
.email{
  grid-area: email;
}

.phone{
  grid-area: phone;
}

.buttons{
  grid-area: buttons;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.buttons button{
  display: grid;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.808);
  font-size: large;
  font-weight: 500;
  border: solid 1px rgba(255, 255, 255, 0.808);
  border-radius: 2px;
}

.buttons button:hover{
  background-color: rgba(255, 255, 255, 0.603);
  transition: .3s;
  transform: scale(.98);
}

.processing{
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: max-content max-content;
  column-gap: .2rem;
}

.processing h3{
  padding: 0;
  margin: 0;
  font-size: smaller;
  font-weight: 900;
}

@keyframes spinner {
  from {transform:rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner{
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: spinner .9s linear infinite;
}

@media screen and (min-width: 769px) {
  .form{
    grid-template-columns: 2fr .5fr;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 2rem;
  }

  .form input{
    width: 16rem;
  }

  .form .outerBox{
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }

  .form button{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 16rem;
    padding: 0 2rem;
  }
}