.form{
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: max-content;
  grid-template-areas: 
              "SPR"
              "DFR"
              "ACR" 
              "HWS"
              "button";
}

.outerBox{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  row-gap: .5rem;
}

.innerBox{
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  grid-template-columns: max-content max-content;
}

.form label{
  padding: 0;
  margin: 0;
  color: white;
  font-size: large;
  font-weight: 300;
}

.form input {
  padding: 0;
  margin: 0;
  color: black;
  background-color: #ffffff;
  outline: none;
  border:none;
  border-bottom: solid 2px white;
  height: 2rem;
  width: 100%;
  font-size: large;
  font-weight: 400;
  text-align: center;
}

.form input::-webkit-outer-spin-button, .form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  -moz-appearance: textfield;
}

.SPR{
  grid-area: SPR;
}

.DFR{
  grid-area: DFR;
}

.ACR{
  grid-area: ACR;
}

.HWS{
  grid-area: HWS;
}

.button{
  grid-area: button;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.808);
  font-size: large;
  font-weight: 500;
  border: solid 1px rgba(255, 255, 255, 0.808);
  border-radius: 2px;
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.603);
  transition: .3s;
  transform: scale(.98);
}


@media screen and (min-width: 769px) {
  .form{
    grid-template-columns: 2fr 1fr;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 2rem;
  }
  
  .form .outerBox{
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr .5fr;
    justify-content: space-between;
    align-items: center;
  }

  .form input {
    width: 16rem;
  }

  .form button{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 16rem;
    padding: 0 2rem;
  }
}