.section{
  width: 60vw;
  height: 1000vh;
  background-color:#002B4C;
  padding: 0;
  position: fixed;
  border-right: solid 1px yellow;
}

.active{
  left:0
}

.inactive{
  left: -60vw;
}


.container{
  margin: 32px auto;
  padding: 32px;
}

.sidebar{
  display: grid;
  grid-template-rows: repeat(2, max-content);
  row-gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  margin: 0;
}

.sidebar img{
  padding: 0;
  margin: 0;
}

.sidebar ul{
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, max-content) ;
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
}

.sidebar ul li a:hover{
  color: yellow;
  transition: .3s;
}

.quote a{
  color: white;
  border: solid 1px rgb(49, 98, 170);
  border-radius: 4px;
  padding: .5rem;
  font-weight: 500;
}

.quote a:hover{
  background-color: rgb(49, 98, 170);
}
.sidebar ul .quote a:hover{
  color: white;
}

.phone div{
  color: white;
  font-weight: 500;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  column-gap: .5rem;
}

.phone div:hover{
  background-color: rgb(23, 82, 170);
}

.sidebar ul .phone div:hover{
  color: white;
}


@media screen and (min-width: 769px){
  .section{
    display: none;
  }
}