.features {
  padding: 16px 32px;
  background-color: var(--tertiary-bg-color);
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container h2 {
  color: var(--secondary-text-color);
  padding: 16px 0;
  font-size: x-large;
}

.container h3 {
  color: var(--secondary-text-color);
  padding: 16px 0;
}

.featuresWrapper {
  display: grid;
  align-items: start;
  justify-content: start;
}

.wrapper {
  display: grid;
  align-items: start;
  justify-content: start;
  padding-bottom: 24px;
}

.wrapper div svg {
  color: var(--primary-bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40%;
  width: 40%;
}

.wrapper h3 {
  font-size: large;
  color: var(--secondary-text-color);
}

.wrapper p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .features {
    padding-top: 64px;
    padding-bottom: 64px;
    background-size: cover;
  }
  .featuresWrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 64px;
  }
  .wrapper {
    display: grid;
    align-items: start;
    justify-content: start;
    grid-template-columns: 1fr;
    padding-bottom: 24px;
  }
  .wrapper div svg {
    height: 40%;
    width: 40%;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
