.features {
  padding: 16px 32px;
  background-color: var(--tertiary-bg-color);
  /*  background-image: url("https://cdn.flushjohn.com/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container h2 {
  color: var(--secondary-text-color);
  padding: 16px 0;
  font-size: x-large;
}

.container h3 {
  color: var(--secondary-text-color);
  padding: 16px 0;
}

.featuresWrapper {
  display: grid;
  align-items: start;
  justify-content: start;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  column-gap: 24px;
  padding-left: 24px;
  align-items: center;
  height: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: rgba(128 128 128 / 0.49);
}

.iconContainer {
  /* background: var(--primary-bg-color); */
  /* width: 50%; */
  background: linear-gradient(rgba(3 12 19 / 0.6), rgba(2 18 30 / 0.6));
  height: 100%;
  display: grid;
  align-items: center;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.wrapper div svg {
  color: var(--primary-bg-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* height: 40%;
  width: 40%; */
  height: 100%;
  width: 100%;
}

.wrapper h3 {
  font-size: medium;
  color: var(--secondary-text-color);
}

.wrapper p {
  font-size: small;
  color: var(--secondary-text-color);
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .features {
    padding-top: 64px;
    padding-bottom: 64px;
    background-size: cover;
  }
  .featuresWrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 24px;
  }
  .wrapper {
  }
  .wrapper div svg {
    /* height: 40%;
    width: 40%; */
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
