.testimonials {
  padding: 16px 32px;
  background-color: var(--tertiary-bg-color);
  /* background-image: url("/assets/hero_bg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.container h2 {
  color: var(--secondary-text-color);
  padding-bottom: 4rem;
  font-size: x-large;
}
.testimonialsWrapper {
  display: grid;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-items: start;
}

.wrapper img {
  height: 6rem;
  width: 6rem;
}

.wrapper h3 {
  font-size: large;
  color: var(--secondary-text-color);
}

.wrapper p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* tablet device breakpoint: 768px*/
@media only screen and (min-width: 768px) {
  .testimonialsWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    justify-content: space-between;
  }
}

/* desktop device / breakpoint: 1024px */
@media only screen and (min-width: 1024px) {
}
